{% extends "base_generic.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  {% load static %} 
  <link rel="stylesheet" href="% static 'formu.css'">
  <link rel="stylesheet" href="% static 'css/bootstrap.min.css'">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
  <script type="text/JavaScript">
  

    $(function() 
      {
        $("#mi-formulario").validate({
             rules: {
                    nombre: {
                            required: true,
                            text: true
                    },
                    apellido: {
                        required: true,
                        text: true
                    },
                    correo: {
                        required: true,
                        email: true
                    },
                    contraseña: {
                        required: true,
                        password: true
                    },
                    dirrecion: {
                        required: true,
                        text: true
                    },
                      
                      
                    contraseña2: {
                        required: true,
                        equalTo: "#contraseña"
                       
                }, //rules
                messages: {
                nombre: {
                    required: 'Ingresa tus Nombres',
                    text: 'Formato de Nombre no valido'
                },
                apellido: {
                    required: 'Ingresa sus apellidos',
                    text: 'Formato de apellido no valido'
                },
                correo:{
                    required: 'Ingrese su Correo',
                    email: 'Formato de correo no valido'
                },
                contraseña:{
                    required: 'Ingrese una contraseña',
                    minlength: 'Caracteres insuficiente'
                },
                contraseña2: {
                    required: 'Reingresa la contraseña',
                    equalTo: 'Las contraseñas ingresadas no coinciden',
                    minlength: 'Caracteres insuficiente'

                }
            //messages
        });
        
        //$('#mi-formulario').validate

        Datos(){
          alert("Se ha registrado Correctamente")
        }
    }); //function
</script>
{% block title %}<title>Formulario Registro</title>{% endblock %}
</head>

<body>
  <form id="mi-formulario" class="form-register" action="index.html">
    <h4>Formulario Registro</h4>
    <input class="controls" type="text" name="nombre" id="nombre" placeholder="Ingrese su Nombre" required>
<div id="mensaje1" class="error"></div>
    <input class="controls" type="text" name="apellido" id="apellido" placeholder="Ingrese su Apellido" required>

    <input class="controls" type="email" name="correo" id="correo" placeholder="Ingrese su Correo" required placeholder="nombre@dominio.cl">

    <input class="controls" type="password" name="contraseña" id="contraseña" placeholder="Ingrese su Contraseña" minlength="6" required>

    <input class="controls" type="password" name="contraseña2" id="contraseña2" placeholder="Reingrese su Contraseña" minlength="6" required>

    <input class="controls" type="text" name="direccion" id="direccion" placeholder="Ingrese su direccion" minlength="9" required>
    
    <p>Estoy de acuerdo con <a href="#">Terminos y Condiciones</a></p>
    <input class="botons" type="submit" value="Registrarse" onclick="Datos()" >
   
  </form>

</body>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script>window.jQuery || document.write('<script src="../assets/js/vendor/jquery.slim.min.js"><\/script>')</script><script src="% static 'js/bootstrap.bundle.min.js"></script>
      
</html>